@using PagedList.Mvc
@model PagedList.IPagedList<QLDoAn.Models.EF.Tbl_ChuyenNganh>

@{
    ViewBag.Title = "Quản lý chuyên ngành";
    ViewBag.Navbar = "Quản lý chuyên ngành";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dem = 1;
    var lstKhoa = ViewBag.Khoa as List<QLDoAn.Models.EF.Tbl_Khoa>;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            @if (TempData["add_success1"] != null)
            {
                <div class="alert alert-danger text-center" id="AlertBox">
                    @TempData["add_success1"]
                </div>
            }
            else if (@TempData["add_success"] != null)
            {
                <div class="alert alert-success text-center" id="AlertBox">
                    @TempData["add_success"]
                </div>


            }
            else
            {


            }
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 10px">
                <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addNew">Thêm mới </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm mới chuyên ngành</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Add", "Nganh", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Tên chuyên ngành:</label>
                                <input type="text" name="ChuyenNganh" id="ChuyenNganh1" class="form-control">
                            </div>
                            @*<div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mã chuyên ngành:</label>
                                <input type="text" name="MaChuyenNganh" id="MaChuyenNganh1" class="form-control">
                            </div>*@
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Thuộc khoa:</label>
                                <select class="selectpicker" name="Khoa_ID" data-style="btn btn-primary btn-round" id="Khoa_ID1">
                                    <option value="" disabled selected>Chọn khoa</option>
                                    @foreach (var item in lstKhoa)
                                    {
                                        <option value="@item.ID">@item.TenKhoa</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn_Add" class="btn btn-primary btn-lg">Thêm mới</button>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">list_alt</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Danh sách chuyên ngành</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">

                            <table id="datatables2"
                                   class="table table-striped display responsive table-no-bordered table-hover nowrap"
                                   style="width:100%">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên chuyên ngành</th>
                                        @*<th>Mã chuyên ngành</th>*@
                                        <th>Thuộc khoa</th>
                                        <th class="disabled-sorting"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@dem</td>
                                            <td>@item.ChuyenNganh</td>
                                            @*<td>@item.MaChuyenNganh</td>*@
                                            <td>@item.Tbl_Khoa.TenKhoa</td>
                                            <td class="td-actions">
                                                <button type="button" rel="tooltip"  data-id="@item.ID"
                                                        class="btn btn-success btn-round btnEdit">
                                                        <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip"
                                                        class="btn btn-danger btn-round btnDelete" data-id="@item.ID" title="Xóa chuyên ngành">
                                                    <!-- Link on demo.js: warning-message-and-confirmation-6 -->
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        dem++;
                                    }
                                </tbody>


                            </table>
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade editNienKhoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa chuyên ngành</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Edit", "Nganh", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="ID" id="ID" />
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tên chuyên ngành:</label>
                        <input type="text" name="ChuyenNganh" id="ChuyenNganh" class="form-control">
                    </div>
                    @*<div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mã chuyên ngành:</label>
                        <input type="text" name="MaChuyenNganh" id="MaChuyenNganh" class="form-control">
                    </div>*@
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Thuộc khoa:</label>
                        <select class="selectpicker" name="Khoa_ID" id="Khoa_ID" data-style="btn btn-primary btn-round">
                            <option value="" disabled>Chọn khoa</option>
                            @foreach (var item in lstKhoa)
                            {
                                <option value="@item.ID">@item.TenKhoa</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnEdit" class="btn btn-primary">Sửa</button>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script>

    var btnADD = document.getElementById("btn_Add").onclick = function () {
        // Bước 1: Lấy giá trị của username và password

        var ChuyenNganh1 = document.getElementById('ChuyenNganh1').value;
      /*  var MaChuyenNganh1 = document.getElementById('MaChuyenNganh1').value;*/
        var Khoa_ID1 = document.getElementById('Khoa_ID1').value;
        //var ChuyenNganh_ID = document.getElementById('ChuyenNganh_ID').value;
        //var ChuyenNganh_ID_SVTH = document.getElementById('ChuyenNganh_ID_SVTH').value;
        //var Lop_ID_SVTH = document.getElementById('Lop_ID_SVTH').value;
        //var SinhVien_ID_SVTH = document.getElementById('SinhVien_ID_SVTH').value;
        //var NamBaoVe_ID = document.getElementById('NamBaoVe_ID').value;
        //var Diem_ID = document.getElementById('Diem_ID').value;
        //var HDCham_ID = document.getElementById('HDCham_ID').value;





        // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
        if (ChuyenNganh1.trim() == ''/* | MaChuyenNganh1.trim() == ''*/ | Khoa_ID1.trim() == '' 


        ) {

            alert('Bạn hãy nhập đầy đủ thông tin');
        }

        else {
            return true;
        }

        return false;

    }





    var btnEdit = document.getElementById("btnEdit").onclick = function () {
        // Bước 1: Lấy giá trị của username và password

        var ChuyenNganh = document.getElementById('ChuyenNganh').value;
      /*  var MaChuyenNganh = document.getElementById('MaChuyenNganh').value;*/
        var Khoa_ID = document.getElementById('Khoa_ID').value;
        //var ChuyenNganh_ID = document.getElementById('ChuyenNganh_ID').value;
        //var ChuyenNganh_ID_SVTH = document.getElementById('ChuyenNganh_ID_SVTH').value;
        //var Lop_ID_SVTH = document.getElementById('Lop_ID_SVTH').value;
        //var SinhVien_ID_SVTH = document.getElementById('SinhVien_ID_SVTH').value;
        //var NamBaoVe_ID = document.getElementById('NamBaoVe_ID').value;
        //var Diem_ID = document.getElementById('Diem_ID').value;
        //var HDCham_ID = document.getElementById('HDCham_ID').value;





        // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
        if (ChuyenNganh.trim() == '' /*| MaChuyenNganh.trim() == ''*/ | Khoa_ID.trim() == ''


        ) {

            alert('Bạn hãy nhập đầy đủ thông tin');
        }

        else {
            return true;
        }

        return false;

    }

















</script>

@section jsScript{

    <script>
        $(document).ready(function () {
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);

            $('.btnDelete').off('click').on('click', function () {
                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/Nganh/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/Nganh";
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa chuyên ngành thành công.'
                                });
                            } else {
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa chuyên ngành KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );


            });

            $('.btnEdit').click(function (event) {
                $('.editNienKhoa').modal('show');
                //alert($(this).data('id'));
                var ID = $(this).data('id');
                $.ajax({
                    url: "/Nganh/GetNganhByID/" + ID,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        $('#ChuyenNganh').val(res[0].ChuyenNganh);
                        $('#MaChuyenNganh').val(res[0].MaChuyenNganh);
                        $('#Khoa_ID select').val(res[0].Khoa_ID);
                        $('#ID').val(res[0].ID);

                        $("Button[data-id='Khoa_ID'] span.pull-left").text(res[0].TenKhoa);
                    }
                });
            });
        });
    </script>

}

