
@using QLDoAn.Models.EF;
@{
    ViewBag.Title = "Sửa giáo viên";
    ViewBag.Navbar = "Quản lý giáo viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstNganh = ViewBag.lstNganh as List<Tbl_ChuyenNganh>;
    var GiaoVien = ViewBag.GiaoVien as Tbl_GiaoVien;
}

<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">add_circle_outline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            Thêm sinh viên
                        </h4>
                        @using (Html.BeginForm("EditGiaoVien", "Teacher", FormMethod.Post, new { id = "frmAdd", enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="ID" value="@GiaoVien.ID" />
                            <!-- Normal Information -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Mã sinh viên *</label>
                                        <input type="text" name="MaGiaoVien" value="@GiaoVien.MaGiaoVien" class="form-control" id="MaGiaoVien" readonly required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Họ và tên *</label>
                                        <input type="text" name="TenGiaoVien" value="@GiaoVien.TenGiaoVien" id="TenGiaoVien" class="form-control" >
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Email</label>
                                        <input type="email" name="Email" value="@GiaoVien.Email" class="form-control" aria-invalid="false" placeholder="Email" id="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Điện thoại liên lạc</label>
                                        <input type="number" name="SoDienThoai" value="@GiaoVien.SoDienThoai" class="form-control" minLength="10" id="SoDienThoai">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Quê quán</label>
                                        <input type="text" name="QueQuan" id="QueQuan" value="@GiaoVien.QueQuan" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2 ml-4">
                                <label class="col-sm-2 label-on-left">Giới tính</label>
                                <div class="col-sm-10">
                                    <div class="radio checkbox-inline">
                                        <label>
                                            <input type="radio" value="true" name="GioiTinh" @(GiaoVien.GioiTinh == true ? "checked" : "")>Nam
                                        </label>
                                    </div>
                                    <div class="radio checkbox-inline">
                                        <label>
                                            <input type="radio" value="false" name="GioiTinh" @(GiaoVien.GioiTinh == false ? "checked" : "")>Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating is-empty">
                                        <label class="label-control validateday" id="validateday">
                                            Ngày sinh
                                        </label>
                                        <input type="text" class="form-control today birthday" id="ngaysinh1" value="@GiaoVien.NgaySinh" name="NgaySinh" placeholder="Chọn ngày sinh">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-md-2 dropdown-label">
                                    <p>Thuộc ngành:</p>
                                </div>
                                <div class="col-md-3">
                                    <select class="selectpicker" name="ChuyenNganh_ID" id="ChuyenNganh_ID" data-style="btn btn-primary btn-round"
                                            title="Chọn ngành">
                                        <option value="" disabled selected>Chọn ngành</option>
                                        @foreach (var item in lstNganh)
                                        {
                                            <option value="@item.ID" @(GiaoVien.ChuyenNganh_ID == item.ID ? "selected" : "")>@item.ChuyenNganh</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Hình ảnh</label>
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-circle">
                                                <img src="~/Assets/img/teacher/@GiaoVien.HinhAnh" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                            <div>
                                                <span class="btn btn-round btn-success btn-file">
                                                    <span class="fileinput-new">Chọn ảnh</span>
                                                    <span class="fileinput-exists">Chọn ảnh khác</span>
                                                    <input type="file" name="HinhAnh" accept="image/*">
                                                    <div class="ripple-container"></div>
                                                </span>
                                                <br>
                                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Xoá</a>
                                            </div>
                                        </div>
                                        @*<input type="file" name="HinhAnh" accept="image/*">*@
                                    </div>
                                </div>
                            </div>
                            <!-- Button -->
                            <br>
                            <div class="pull-right">
                                <button type="reset" class="btn btn-default btn-fill">Đặt lại</button>

                                <button type="submit" id="EditGV" class="btn btn-success btn-fill">Sửa giáo viên</button>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!-- end col-md-12 -->
        </div>
    </div>

</div>



@section jsScript{
    <script>


        var btnADD = document.getElementById("EditGV").onclick = function () {
            // Bước 1: Lấy giá trị của username và password

            var tenGV1 = document.getElementById('TenGiaoVien').value;
            var Que = document.getElementById('QueQuan').value;
            var ngaysinh = document.getElementById('ngaysinh1').value;
            var chuyennganh = document.getElementById('ChuyenNganh_ID').value;
            var mail = document.getElementById('Email').value;




            // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
            if (tenGV1.trim() == '' | Que.trim() == '' | ngaysinh.trim() == '' | mail.trim() == ''| chuyennganh.trim()=='') {

                alert('Bạn hãy nhập đầy đủ thông tin');
            }

            else {
                return true;
            }

            return false;

        }

    </script>

    @*<script>
            $(document).ready(function () {
                $('#file-upload').change(function() {
                  var i = $(this).prev('label').clone();
                  var file = '<i class="fa fa-cloud-upload"></i>' + $('#file-upload')[0].files[0].name;
                  $(this).prev('label').empty();
                  $(this).prev('label').append(file);
                });

                // add the rule here
                $.validator.addMethod("select_validate", function (value, element, arg) {
                    return arg !== value;
                }, "Value must not equal arg.");
                 jQuery.validator.addMethod("phonenu", function (value, element) {
                    if (/^(09[0-9]|07[0|6|7|8|9]|03[2-9]|08[1-5])+([0-9]{7})\b/g.test(value)) {
                        return true;
                    } else {
                        return false;
                    };
                 }, "Invalid phone number");

                jQuery.validator.addMethod("email_regex", function (value, element) {
                    if (/^[a-z][a-z0-9_\.]{5,32}@@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/g.test(value)) {
                        return true;
                    } else {
                        return false;
                    };
                }, "Invalid email");
                //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
                $("#frmAdd").validate({
                    rules: {
                        MaGiaoVien: "required",
                        TenGiaoVien: "required",
                        NgaySinh: "required",
                        Email: {
                            required: true,
                            email_regex: true
                        },
                        SoDienThoai: {
                            required: true,
                            phonenu: true
                        },
                        QueQuan: "required",
                        Lop_ID: { select_validate: "" },
                        ChuyenNganh_ID: { select_validate: "" },
                        HeDaoTao_ID: { select_validate: "" },
                        NienKhoa_ID: { select_validate: "" },
                    },
                    messages: {
                        MaGiaoVien: "Vui lòng nhập mã sinh viên",
                        TenGiaoVien: "Vui lòng nhập tên sinh viên",
                        NgaySinh: "Vui lòng nhập ngày sinh",
                        Email: {
                            required: "Vui lòng nhập email",
                            email_regex: "Email không hợp lệ"
                        },
                        SoDienThoai: {
                            required: "Vui lòng nhập số điện thoại",
                            phonenu: "Số điện thoại không hợp lệ"
                        },
                        QueQuan: "Vui lòng nhập giá gốc",
                        Lop_ID:{ select_validate: "Bạn chưa chọn lớp!" },
                        ChuyenNganh_ID:{ select_validate: "Bạn chưa chọn chuyên ngành!" },
                        HeDaoTao_ID:{ select_validate: "Bạn chưa chọn hệ đào tạo!" },
                        NienKhoa_ID: { select_validate: "Bạn chưa chọn niên khóa!" }
                    }
                });
            });
        </script>*@

}

